/* Global */

$font-main: 'Montserrat', sans-serif;
$font-decorative: 'Roboto Serif', serif;
$font-text: 'Roboto Slab', serif;

$color-golden: #fed136;
$color-portfolio: #f7f7f7;
$color-main: #ffffff;

/* Icons */

